/* HEADER *********************************************************************/
header.jumbotron {
    background-image: url(assets/images/bg2.jpg);

    background-size: cover; /* NOTE: TO SCALE THE IMAGE */
    background-position: center; /* NOTE: TO CENTER THE IMAGE */
}

header .container {
    padding: 50px 10% 0 10%;
    text-align: center;
    color: #FFF;
}

header button.button_contacto {
    background-color: #FFF;
    color: #000;
}

/* GRILLA *********************************************************************/
.thumbnail {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    border-width: 10px;
    border-radius: 30px;
}

.photo_container {
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
}

.photo_container img {
    width: 100%;
    margin: 0;
}

.photo_container p {
    padding: 0 5%;
}

.photo_container button {
    margin-top: 20px;
}

button.button_grid {
    padding: 5px 15px;
}

/* FOOTER *********************************************************************/
footer {
    text-align: center;
}

footer .container_logo {
    border: solid 1px #CCC;
    padding: 15px 0;
}

footer img.logo {
    height: 22px;
    width: auto;
}

footer .jumbotron {
    margin: 0;
    border: solid 1px #CCC;
    border-top: none;
    padding: 5px;
    background-color: #F5F5F5;
}

footer .jumbotron p {
    margin: 0;

    font-size: 15px;
}
